<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Costura.Fody" version="4.1.0" targetFramework="net48" />
  <package id="FlatBuffers.Core" version="1.12.0" targetFramework="net48" />
  <package id="Fody" version="6.3.0" targetFramework="net48" developmentDependency="true" />
  <package id="Google.ProtocolBuffers" version="2.4.1.555" targetFramework="net48" />
  <package id="Grapevine" version="4.1.2" targetFramework="net48" />
  <package id="Humanizer.Core" version="2.8.26" targetFramework="net48" />
  <package id="log4net" version="3.5.0" targetFramework="net48" />
  <package id="Markdig" version="0.22.0" targetFramework="net48" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="5.0.0" targetFramework="net48" />
  <package id="Microsoft.CodeAnalysis.Analyzers" version="3.11.0" targetFramework="net48" developmentDependency="true" />
  <package id="Microsoft.CodeAnalysis.Common" version="3.8.0" targetFramework="net48" />
  <package id="Microsoft.CodeAnalysis.CSharp" version="3.8.0" targetFramework="net48" />
  <package id="Microsoft.CodeAnalysis.CSharp.Workspaces" version="3.8.0" targetFramework="net48" />
  <package id="Microsoft.CodeAnalysis.Workspaces.Common" version="3.8.0" targetFramework="net48" />
  <package id="Newtonsoft.Json" version="13.0.4" targetFramework="net48" />
  <package id="RestSharp" version="106.15.0" targetFramework="net48" />
  <package id="SharpDX" version="4.2.0" targetFramework="net48" />
  <package id="SharpDX.Direct3D11" version="4.2.0" targetFramework="net48" />
  <package id="SharpDX.DXGI" version="4.2.0" targetFramework="net48" />
  <package id="SlimDX" version="4.0.13.44" targetFramework="net48" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net48" />
  <package id="System.Collections.Immutable" version="5.0.0" targetFramework="net48" />
  <package id="System.Composition" version="5.0.0" targetFramework="net48" />
  <package id="System.Composition.AttributedModel" version="5.0.0" targetFramework="net48" />
  <package id="System.Composition.Convention" version="5.0.0" targetFramework="net48" />
  <package id="System.Composition.Hosting" version="5.0.0" targetFramework="net48" />
  <package id="System.Composition.Runtime" version="5.0.0" targetFramework="net48" />
  <package id="System.Composition.TypedParts" version="5.0.0" targetFramework="net48" />
  <package id="System.Memory" version="4.5.4" targetFramework="net48" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net48" />
  <package id="System.Reflection.Metadata" version="5.0.0" targetFramework="net48" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="5.0.0" targetFramework="net48" />
  <package id="System.Text.Encoding.CodePages" version="5.0.0" targetFramework="net48" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net48" />
</packages>